@import './fonts-async';
@import './smart-underline';

@mixin font-family() {
  font-family: 'Proba Pro W01', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: normal;
  line-height: normal;
}
