@import 'fonts-async.scss';
@import 'common.scss';

@keyframes gradient {
  0% { background-position:0% 50% }
  50% { background-position:100% 50% }
  100% { background-position:0% 50% }
}

@mixin gradient($degree:270deg, $size:1000%, $duration:50s, $animation:gradient, $color: rgba(255, 255, 255, 1), $opacity:.8) {
  background: $color linear-gradient(
    $degree,
    rgba(148, 254, 247, $opacity),
    rgba(254, 166, 247, $opacity),
    rgba(170, 254, 163, $opacity),
    rgba(254, 166, 247, $opacity),
    rgba(249, 251, 177, $opacity),
    rgba(254, 166, 247, $opacity)
  );
  background-size: $size $size;
  animation: $animation $duration ease infinite;
}

section#about {
  text-align: center;
  font-size: 4vmin;
  p {
    margin-top: 0;
    a, a:visited {
      color: rgba(0, 0, 0, .4);
      transition: color .2s ease-out;
      &:hover {
        color: rgba(0, 0, 0, .6);
      }
    }
  }
}

@mixin gradient-text {
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
  background-clip : text;
  text-fill-color : transparent;
}

@mixin no-gradient-text {
  background: transparent;
  opacity: .66;
}

html, body {
  color: rgba(255, 255, 255, .9);
  margin: 0 auto;
  padding: 0;
}

html {
  @include gradient($degree:-270deg);

  body {
    @include gradient;
    @include font-family;
    margin: 4vmin;
    padding: 2vmin;


    a {
      &.tap {
        padding: 0 .4vmin;
        text-decoration: none;
      }
    }

    nav {
      padding: 2vmin;
      text-align: center;

      a {
        margin : 0 .5vmin;
        opacity: .6;
        transition: opacity .2s ease-out;
        padding: 1vmin;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          opacity: .9;
        }
      }
    }

    header {
      font-weight: lighter;
      hgroup {
        font-weight: lighter;
        text-align: center;

        h1, h2, h3, h4, h5, h6 {
          color: white;
          margin: 0;
          padding: 0;
          text-align: center;
          color: white;
        }

        h1 {
          margin: 5vmin auto;
          font-size: 100vmin;
          line-height: 100vmin;
          font-weight: 100;
          letter-spacing: -2vmin;

          display: block;
          font-size: 35vmin;
          line-height: 35vmin;

          width: 45vmin;
          height: 45vmin;
          margin: 0 auto;
          display: inline-block;
          border-radius: 45vmin;
          @include gradient($degree:-270deg, $color: rgba(0, 0, 0, .2), $opacity: 1);

          a {
            width: 45vmin;
            height: 45vmin;
            border-radius: 45vmin;
            margin: 0 auto;
            display: inline-block;
            @include gradient;
            @include gradient-text;
            text-decoration: none;
            &:hover {
              @include gradient-text;
            }
          }
        }

        h2 {
          font-size: 25vmin;
          line-height: 22vmin;
          font-weight: 500;
          @include gradient($degree:-270deg, $opacity: .6);
          @include gradient-text;
        }

        h3 {
          font-size: 20vmin;
          line-height: 16vmin;
          font-weight: 400;
          @include gradient($degree:-270deg, $opacity: .5);
          @include gradient-text;
        }
        h4 {
          font-size: 15vmin;
          line-height: 14vmin;
          font-weight: 300;
          @include gradient($degree:-270deg, $opacity: .4);
          @include gradient-text;
        }
        h5 {
          font-size: 10vmin;
          line-height: 8vmin;
          font-weight: 200;
          @include gradient($degree:-270deg, $opacity: .3);
          @include gradient-text;
        }
        h6 {
          font-size: 5vmin;
          line-height: 6vmin;
          font-weight: 100;
          @include gradient($degree:-270deg, $opacity: .2);
          @include gradient-text;
        }
      }
    }

    footer {
      text-align: center;
      font-size : 2.5vmin;
      color: rgba(255, 255, 255, .4);
    }
  }

  &.no-backgroundcliptext {
    body {
      header {
        hgroup {
          h1 {
            a {
              @include no-gradient-text;
              color: rgba(255, 255, 255, .9);
            }
          }
          h2, h3, h4, h5, h6 {
            @include no-gradient-text;
          }
        }
      }
    }
  }
}
