@import 'fonts-async.scss';
@import 'common.scss';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@mixin gradient(
  $degree: 270deg,
  $size: 1000%,
  $duration: 50s,
  $animation: gradient,
  $color: rgba(255, 255, 255, 1),
  $opacity: 0.8
) {
  animation: $animation $duration ease infinite;
  background: $color
    linear-gradient(
      $degree,
      rgba(148, 254, 247, $opacity),
      rgba(254, 166, 247, $opacity),
      rgba(170, 254, 163, $opacity),
      rgba(254, 166, 247, $opacity),
      rgba(249, 251, 177, $opacity),
      rgba(254, 166, 247, $opacity)
    );
  background-size: $size $size;
}

section#about {
  font-size: 4vmin;
  text-align: center;
  p {
    margin-top: 0;
    a,
    a:visited {
      color: rgba(0, 0, 0, 0.4);
      transition: color 0.2s ease-out;
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

@mixin gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin no-gradient-text {
  background: transparent;
  opacity: 0.66;
}

html,
body {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  padding: 0;
}

html {
  @include gradient($degree: -270deg);

  body {
    @include gradient;
    @include font-family;
    margin: 4vmin;
    padding: 2vmin;

    a {
      &.tap {
        padding: 0 0.4vmin;
        text-decoration: none;
      }
    }

    nav {
      padding: 2vmin;
      text-align: center;

      a {
        margin: 0 0.5vmin;
        opacity: 0.6;
        padding: 1vmin;
        text-decoration: none;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 0.9;
          text-decoration: none;
        }
      }
    }

    header {
      font-weight: lighter;
      hgroup {
        font-weight: lighter;
        text-align: center;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: #fff;
          color: #fff;
          margin: 0;
          padding: 0;
          text-align: center;
        }

        h1 {
          border-radius: 45vmin;
          display: block;
          display: inline-block;
          font-size: 100vmin;
          font-size: 35vmin;

          font-weight: 100;
          height: 45vmin;
          letter-spacing: -2vmin;

          line-height: 100vmin;
          line-height: 35vmin;
          margin: 5vmin auto;
          margin: 0 auto;
          width: 45vmin;
          @include gradient(
            $degree: -270deg,
            $color: rgba(0, 0, 0, 0.2),
            $opacity: 1
          );

          a {
            border-radius: 45vmin;
            display: inline-block;
            height: 45vmin;
            margin: 0 auto;
            text-decoration: none;
            @include gradient;
            @include gradient-text;
            width: 45vmin;
            &:hover {
              @include gradient-text;
            }
          }
        }

        h2 {
          font-size: 25vmin;
          font-weight: 500;
          line-height: 22vmin;
          @include gradient($degree: -270deg, $opacity: 0.6);
          @include gradient-text;
        }

        h3 {
          font-size: 20vmin;
          font-weight: 400;
          line-height: 16vmin;
          @include gradient($degree: -270deg, $opacity: 0.5);
          @include gradient-text;
        }

        h4 {
          font-size: 15vmin;
          font-weight: 300;
          line-height: 14vmin;
          @include gradient($degree: -270deg, $opacity: 0.4);
          @include gradient-text;
        }

        h5 {
          font-size: 10vmin;
          font-weight: 200;
          line-height: 8vmin;
          @include gradient($degree: -270deg, $opacity: 0.3);
          @include gradient-text;
        }

        h6 {
          font-size: 5vmin;
          font-weight: 100;
          line-height: 6vmin;
          @include gradient($degree: -270deg, $opacity: 0.2);
          @include gradient-text;
        }
      }
    }

    footer {
      color: rgba(255, 255, 255, 0.4);
      font-size: 2.5vmin;
      text-align: center;
    }
  }

  &.no-backgroundcliptext {
    body {
      header {
        hgroup {
          h1 {
            a {
              @include no-gradient-text;
              color: rgba(255, 255, 255, 0.9);
            }
          }

          h2,
          h3,
          h4,
          h5,
          h6 {
            @include no-gradient-text;
          }
        }
      }
    }
  }
}
