@import './common';
@import './smart-underline';

$color-text: #000;
$color-link: #000;
$color-link-hover: lighten($color-link, 60%);
$color-link-visited: lighten($color-link, 40%);
$color-background: #fff;
$color-selection: #ffc;

@mixin logo($size: 4vmin) {
  &, &:active, &:visited {
    text-align: center;
    letter-spacing: calc(0 - (#{$size} / 18));
    font-weight: 100;
    display: inline-block;
    font-size: calc(#{$size});
    line-height: calc((#{$size}) * 1.9);
    width: calc((#{$size}) * 2);
    height: calc((#{$size}) * 2);
    background: $color-link;
    color: $color-background;
    border-radius: calc(#{$size});
    text-decoration: none;
    transition:
      color .2s ease-out,
      background-color .2s ease-out;
  }
  &:hover {
    color: $color-link;
    background: $color-link-hover;
  }
}

$size: "((1vmin + 1vmax) / 2)";
$size-margin: "((1vmin + 1vmax) / 2) * 2";

html,
body {
  @include font-family;
  font-size: calc(#{$size} * 3.6);
  margin: 0 auto;
  padding: 0;

  color: $color-link;
  a {
    transition: color .2s ease;
    color: $color-link;
    text-decoration: none;

    &:not(.no-decoration) {
      @include smart-underline(
        $color-background,
        $color-link,
        $color-selection,
        $position: 94%
      );
      &:hover {
        color: $color-link-hover;
      }
    }
    &:visited {
      color: $color-link-visited;
    }
    &:hover {
      color: $color-link-hover;
    }
  }
}

body {
  padding: calc(#{$size-margin});

  .logo {
    $size-logo: "#{$size-margin} * 2";
    @include logo($size-logo);
  }

  a.side-note {
    text-decoration: none;
  }

  h1 { font-weight: 100; }

  h2 { font-weight: 300; }

  h3 {
    font-weight: 500;
    em { font-weight: 300; }
  }
  h4 { font-weight: 600; }

  h5 { font-weight: 700; }

  h6 { font-weight: 800; }

  nav {
    font-size: calc(#{$size} * 2.4);

    a {
      margin: 0 calc((#{$size-margin}) / 40);

      &.logo {
        margin: 0;
        margin-right: calc((#{$size-margin}) / 40);
      }
    }

    div.right {
      text-align: right;
    }
  }

  header {

    hgroup {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {

      }
    }
    margin-top: calc((#{$size-margin}) / 2);
  }


  footer {
    margin-top: calc((#{$size-margin}) / 2);
    text-align: center;
    font-size: .6rem;
  }
}
