.history
.firebase
bower_components
node_modules
app.yaml
app/vendor
.tmp
.publish
.sass-cache
.idea
dist
npm-debug.log
app/styles/*.css
app/styles/*.map
.DS_Store
*.log

# Compiled CSS and HTML files
public/styles/*.css
public/styles/*.map
public/index.html
public/resume.html
public/resume-doc.html
