@charset "UTF-8";
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=35ec167d-b700-4d30-a461-d3d8ba16e110");
@font-face {
  font-family: "Proba Pro W01_n1";
  src: url("../fonts/876b4e64-a7e7-4a78-bdc1-b354e720ce69.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/876b4e64-a7e7-4a78-bdc1-b354e720ce69.eot?#iefix");
  src: url("../fonts/876b4e64-a7e7-4a78-bdc1-b354e720ce69.eot?#iefix") format("eot"), url("../fonts/fdd4f182-f968-42fa-a72c-744f3ff27bc8.woff2") format("woff2"), url("../fonts/6a77c29b-2ff5-43d0-90f8-495d83004b3b.woff") format("woff"), url("../fonts/570cc714-8bcd-4967-8577-7d6241b74883.ttf") format("truetype"), url("../fonts/0869dafd-e433-4148-bc83-1c7819642387.svg#0869dafd-e433-4148-bc83-1c7819642387") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i1";
  src: url("../fonts/f02778c3-2dfe-4852-a53c-ac2315225d46.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/f02778c3-2dfe-4852-a53c-ac2315225d46.eot?#iefix");
  src: url("../fonts/f02778c3-2dfe-4852-a53c-ac2315225d46.eot?#iefix") format("eot"), url("../fonts/684743b9-28ad-4425-bee0-84b18fe26304.woff2") format("woff2"), url("../fonts/ce849112-fea8-4723-ae38-3a0f2ce6eaa8.woff") format("woff"), url("../fonts/18182694-d350-42bc-a00a-10e3670d590f.ttf") format("truetype"), url("../fonts/c81d0a2e-0ce5-4c19-9d4c-c7cab5e373b2.svg#c81d0a2e-0ce5-4c19-9d4c-c7cab5e373b2") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_n2";
  src: url("../fonts/1c4a9259-aba1-4b26-99da-167399ccd516.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/1c4a9259-aba1-4b26-99da-167399ccd516.eot?#iefix");
  src: url("../fonts/1c4a9259-aba1-4b26-99da-167399ccd516.eot?#iefix") format("eot"), url("../fonts/a68bbb74-8dc7-49e4-b715-ee9d2191db62.woff2") format("woff2"), url("../fonts/4721c5d1-d32a-4c98-b31c-c38dc4d7d4b6.woff") format("woff"), url("../fonts/ee106998-613e-4bcb-b433-40f757862854.ttf") format("truetype"), url("../fonts/811abd2d-f864-45de-9b52-debd132a8e55.svg#811abd2d-f864-45de-9b52-debd132a8e55") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i2";
  src: url("../fonts/b5fd9d18-b2dc-4f4f-9050-68ea7172956c.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/b5fd9d18-b2dc-4f4f-9050-68ea7172956c.eot?#iefix");
  src: url("../fonts/b5fd9d18-b2dc-4f4f-9050-68ea7172956c.eot?#iefix") format("eot"), url("../fonts/733857db-f09e-418e-92c8-5b7befdc90a1.woff2") format("woff2"), url("../fonts/34508d43-56ab-48bc-8027-0bdfcff3b98a.woff") format("woff"), url("../fonts/f50ac13c-e829-42c2-b7a8-8f0ecbbe1105.ttf") format("truetype"), url("../fonts/62d8d56f-9c91-4630-bc2d-7292ede89483.svg#62d8d56f-9c91-4630-bc2d-7292ede89483") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_n3";
  src: url("../fonts/c84d6940-7b48-4056-8835-c0b30e63d246.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/c84d6940-7b48-4056-8835-c0b30e63d246.eot?#iefix");
  src: url("../fonts/c84d6940-7b48-4056-8835-c0b30e63d246.eot?#iefix") format("eot"), url("../fonts/9b798c70-55d3-40d9-930b-b8bf15140fa5.woff2") format("woff2"), url("../fonts/4833d369-2466-4f20-90a2-2dc67da099cb.woff") format("woff"), url("../fonts/24a86e0b-0e16-478e-b1b6-fcefa5d8cf25.ttf") format("truetype"), url("../fonts/80a1e4c8-8358-4716-ad3c-c290bd447d7a.svg#80a1e4c8-8358-4716-ad3c-c290bd447d7a") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i3";
  src: url("../fonts/83391331-5543-43bd-9036-09f8594f2b33.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/83391331-5543-43bd-9036-09f8594f2b33.eot?#iefix");
  src: url("../fonts/83391331-5543-43bd-9036-09f8594f2b33.eot?#iefix") format("eot"), url("../fonts/e1df2433-a7d4-4c15-ad3d-ad9992dd1e9a.woff2") format("woff2"), url("../fonts/58af206c-4125-4ed1-964c-3f2a565c57b3.woff") format("woff"), url("../fonts/1ee9eb38-03f4-40b8-9cad-3f127f0a8e62.ttf") format("truetype"), url("../fonts/ef65dcdb-9555-4ccb-9414-2d839073053e.svg#ef65dcdb-9555-4ccb-9414-2d839073053e") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_n4";
  src: url("../fonts/ca56d6a6-ea85-41be-9dcf-c6a2d419e03a.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ca56d6a6-ea85-41be-9dcf-c6a2d419e03a.eot?#iefix");
  src: url("../fonts/ca56d6a6-ea85-41be-9dcf-c6a2d419e03a.eot?#iefix") format("eot"), url("../fonts/c729c594-aaa8-40c8-bb7b-e22095026114.woff2") format("woff2"), url("../fonts/d0256a34-2988-45d7-8093-104216fc319d.woff") format("woff"), url("../fonts/fed2d287-5d32-4e18-9d77-dea82f232e57.ttf") format("truetype"), url("../fonts/8c67e60b-8e8e-4afc-9f04-c103559ce97c.svg#8c67e60b-8e8e-4afc-9f04-c103559ce97c") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i4";
  src: url("../fonts/8910643d-edba-40a7-9d06-d7e5f2d58267.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/8910643d-edba-40a7-9d06-d7e5f2d58267.eot?#iefix");
  src: url("../fonts/8910643d-edba-40a7-9d06-d7e5f2d58267.eot?#iefix") format("eot"), url("../fonts/f211b78a-fd4d-4434-8188-d7d641c533da.woff2") format("woff2"), url("../fonts/42dad980-6822-4538-b14d-24f7edc8bbc8.woff") format("woff"), url("../fonts/c3e8f4a5-d09a-4b13-b013-1507a2be977d.ttf") format("truetype"), url("../fonts/802b9bb5-c701-4fca-92e6-db3015e59b7d.svg#802b9bb5-c701-4fca-92e6-db3015e59b7d") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_n5";
  src: url("../fonts/3b4da2ec-8e53-4b8d-bdec-714bbb02e076.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/3b4da2ec-8e53-4b8d-bdec-714bbb02e076.eot?#iefix");
  src: url("../fonts/3b4da2ec-8e53-4b8d-bdec-714bbb02e076.eot?#iefix") format("eot"), url("../fonts/608f7df5-8601-4459-953b-05f016b5440b.woff2") format("woff2"), url("../fonts/fdb8d9a1-706a-43f1-9b12-5e87cea644a3.woff") format("woff"), url("../fonts/771ff675-f76c-42b5-a29b-7be0bc7bb144.ttf") format("truetype"), url("../fonts/ef5fdc47-dd49-4d8f-bde6-a835e955f21e.svg#ef5fdc47-dd49-4d8f-bde6-a835e955f21e") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i5";
  src: url("../fonts/defe4f4f-2a42-45c8-9b16-3afbd040f231.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/defe4f4f-2a42-45c8-9b16-3afbd040f231.eot?#iefix");
  src: url("../fonts/defe4f4f-2a42-45c8-9b16-3afbd040f231.eot?#iefix") format("eot"), url("../fonts/da37f530-b57a-4972-a790-74eb04347d50.woff2") format("woff2"), url("../fonts/caef1298-748a-48f2-9338-27f3bddcee89.woff") format("woff"), url("../fonts/585f41e2-ba54-4be3-9bc3-7f4b43fa110d.ttf") format("truetype"), url("../fonts/a280f523-3482-46ec-92ae-d0754bf8ec42.svg#a280f523-3482-46ec-92ae-d0754bf8ec42") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_n6";
  src: url("../fonts/e7fbbd4c-e948-49c8-b9b4-32b24abc4abf.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/e7fbbd4c-e948-49c8-b9b4-32b24abc4abf.eot?#iefix");
  src: url("../fonts/e7fbbd4c-e948-49c8-b9b4-32b24abc4abf.eot?#iefix") format("eot"), url("../fonts/1d97ad64-e2b6-4551-be90-edb33d26ab26.woff2") format("woff2"), url("../fonts/948f0dca-ee24-4b8d-9d39-e6647e0c10bd.woff") format("woff"), url("../fonts/e8d8902e-4597-488e-adb1-8cdd3ae0a63b.ttf") format("truetype"), url("../fonts/317168fd-e500-44ab-a340-5615696f53a2.svg#317168fd-e500-44ab-a340-5615696f53a2") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i6";
  src: url("../fonts/6f5e2651-f3c2-4e38-b6e3-5e72dc48898b.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/6f5e2651-f3c2-4e38-b6e3-5e72dc48898b.eot?#iefix");
  src: url("../fonts/6f5e2651-f3c2-4e38-b6e3-5e72dc48898b.eot?#iefix") format("eot"), url("../fonts/fdf8765b-9cb8-483b-b5c3-1cc7146fb54f.woff2") format("woff2"), url("../fonts/3b454eab-05ee-46da-954b-24cfb42655de.woff") format("woff"), url("../fonts/5a12306f-915e-4b7c-9bd9-ff80ed06180f.ttf") format("truetype"), url("../fonts/ac693bbd-b70d-4c84-aa72-785527e83445.svg#ac693bbd-b70d-4c84-aa72-785527e83445") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_n7";
  src: url("../fonts/f2aa8ca9-2ed7-4360-b91f-03440db255e0.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/f2aa8ca9-2ed7-4360-b91f-03440db255e0.eot?#iefix");
  src: url("../fonts/f2aa8ca9-2ed7-4360-b91f-03440db255e0.eot?#iefix") format("eot"), url("../fonts/3bc5c864-8261-4437-9d41-4c9730a80cdc.woff2") format("woff2"), url("../fonts/dc599214-8fb0-45bc-857b-774c98893c2e.woff") format("woff"), url("../fonts/c3d3aab3-17a6-4d12-acfe-50d926275731.ttf") format("truetype"), url("../fonts/8eeb3590-25ac-4d03-b9cf-9a5a151e18d4.svg#8eeb3590-25ac-4d03-b9cf-9a5a151e18d4") format("svg");
}
@font-face {
  font-family: "Proba Pro W01_i7";
  src: url("../fonts/064bf6d7-724b-4182-8b66-f2e9125c9c6e.eot?#iefix") format("eot");
}
@font-face {
  font-family: "Proba Pro W01";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/064bf6d7-724b-4182-8b66-f2e9125c9c6e.eot?#iefix");
  src: url("../fonts/064bf6d7-724b-4182-8b66-f2e9125c9c6e.eot?#iefix") format("eot"), url("../fonts/24567192-78d1-4fcf-84be-05d88fafb457.woff2") format("woff2"), url("../fonts/d5e38cca-491f-4b1e-9877-876743c50258.woff") format("woff"), url("../fonts/cf541a6e-1ef1-4303-a114-ea9560e7c3dc.ttf") format("truetype"), url("../fonts/952db4c4-b7dd-4a60-bdaf-18ac441fee68.svg#952db4c4-b7dd-4a60-bdaf-18ac441fee68") format("svg");
}
@keyframes grain {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: -20% 15%;
  }
  50% {
    background-position: 15% 5%;
  }
  60% {
    background-position: 0% 15%;
  }
  70% {
    background-position: -25% 10%;
  }
  80% {
    background-position: 5% 0%;
  }
  90% {
    background-position: -10% -10%;
  }
}
.grain-overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  animation: grain 0.2s steps(10) infinite;
}

html {
  border: 1px solid #fff;
}

html,
body {
  font-family: "Proba Pro W01", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: normal;
  color: #000;
  font-size: calc(((1vmin + 1vmax) / 3) * 3.6);
  font-size: clamp(14px, 1vw, 18px);
  line-height: calc(((1vmin + 1vmax) / 3) * 4);
  margin: 0 auto;
  padding: 0;
}
@media print {
  html,
  body {
    font-size: calc(((1vmin + 1vmax) / 3) * 2.8);
    max-width: 190mm;
    line-height: calc(((1vmin + 1vmax) / 3) * 2.4);
  }
}
html a,
body a {
  color: #000;
  transition: color 0.2s ease;
}
html a:not(.no-decoration):hover,
body a:not(.no-decoration):hover {
  color: #999999;
}
html a:visited,
body a:visited {
  color: #666666;
}
html a:hover,
body a:hover {
  color: #999999;
}

body {
  padding: calc(((1vmin + 1vmax) / 3) * 2 / 2);
}
body .intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .left-column,
body .right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .left-column {
  align-items: flex-start;
  text-align: left;
}
body .right-column {
  align-items: flex-end;
  text-align: right;
}
body a.side-note {
  text-decoration: none;
}
body h1 {
  font-weight: 100;
}
body h2 {
  font-weight: 300;
}
body h3 {
  font-weight: 500;
}
body h3 em {
  font-weight: 300;
}
body h4 {
  font-weight: 600;
}
body h5 {
  font-weight: 700;
}
body h6 {
  font-weight: 800;
}
body ul,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body section,
body p {
  padding: 0;
  margin: 0;
}
@media print {
  body nav {
    display: none;
  }
}
body nav .logo {
  margin: 0;
}
body nav .logo, body nav .logo:active, body nav .logo:visited {
  background: #000;
  border-radius: calc((((1vmin + 1vmax) / 3) * 2 * 3));
  color: #fff;
  display: inline-block;
  font-size: calc(((1vmin + 1vmax) / 3) * 2 * 3 * 0.5);
  font-weight: 100;
  height: calc((((1vmin + 1vmax) / 3) * 2 * 3));
  line-height: calc((((1vmin + 1vmax) / 3) * 2 * 3));
  text-align: center;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  width: calc((((1vmin + 1vmax) / 3) * 2 * 3));
}
body nav .logo:hover {
  background: #999999;
  color: #000;
}
body nav a:not(.logo) {
  font-size: 1rem;
  text-align: right;
}
body nav div.right {
  text-align: right;
}
body header {
  margin-top: calc((((1vmin + 1vmax) / 3) * 2) / 2);
}
body footer {
  font-size: 0.6rem;
  margin-top: calc((((1vmin + 1vmax) / 3) * 2) / 2);
  text-align: center;
}
body ul.info li,
body ul.contact li,
body ul.educations li,
body ul.skills li,
body ul.contact li {
  display: inline;
  margin: 0;
}
body ul.info li:not(:first-child)::before,
body ul.contact li:not(:first-child)::before,
body ul.educations li:not(:first-child)::before,
body ul.skills li:not(:first-child)::before,
body ul.contact li:not(:first-child)::before {
  content: " •  ";
}
body ul.experiences li {
  margin: 0 0 0 0;
  padding: 0;
}
body ul.experiences li p {
  margin: 0;
}
body ul.experiences {
  column-count: 2;
  column-gap: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body ul.experiences li.experience {
  break-inside: avoid;
  margin-bottom: 0;
  padding: calc(((1vmin + 1vmax) / 3) * 2 * 0.4);
}

/*# sourceMappingURL=resume.css.map */
