<!doctype html><!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="I'm a full-stack web developer and multidisciplinary designer."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Furkan Tunalı</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Furkan Tunalı" />

    <!-- Apple Touch Icons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="icons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="icons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="icons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="icons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="icons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="icons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="icons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="icons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-touch-icon-180x180.png"
    />

    <!-- Favicon Icons -->
    <link
      rel="icon"
      type="image/png"
      href="icons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/android-chrome-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="manifest" href="icons/manifest.json" />

    <!-- Safari Pinned Tab Icon -->
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5" />

    <!-- Windows Tile Icons -->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="icons/mstile-144x144.png" />

    <!-- Theme Color -->
    <meta name="theme-color" content="#ffffff" />

    <!-- External and internal styles -->
    <link
      rel="import"
      href="vendor/social-media-icons/social-media-icons.html"
    />
    <link rel="stylesheet" href="styles/main.css" />

    <!-- Firebase Scripts -->
    <script defer src="/__/firebase/10.7.1/firebase-app-compat.js"></script>
    <script defer src="/__/firebase/10.7.1/firebase-auth-compat.js"></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-database-compat.js"
    ></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-firestore-compat.js"
    ></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-functions-compat.js"
    ></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-messaging-compat.js"
    ></script>
    <script defer src="/__/firebase/10.7.1/firebase-storage-compat.js"></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-analytics-compat.js"
    ></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-remote-config-compat.js"
    ></script>
    <script
      defer
      src="/__/firebase/10.7.1/firebase-performance-compat.js"
    ></script>
    <!--
      initialize the SDK after all desired features are loaded, set useEmulator to false
      to avoid connecting the SDK to running emulators.
    -->
    <script defer src="/__/firebase/init.js?useEmulator=true"></script>
  </head>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const loadEl = document.querySelector("#load")
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        // // The Firebase SDK is initialized and available here!
        //
        // firebase.auth().onAuthStateChanged(user => { });
        // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
        // firebase.firestore().doc('/foo/bar').get().then(() => { });
        // firebase.functions().httpsCallable('yourFunction')().then(() => { });
        // firebase.messaging().requestPermission().then(() => { });
        // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
        // firebase.analytics(); // call to activate
        // firebase.analytics().logEvent('tutorial_completed');
        // firebase.performance(); // call to activate
        //
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

        try {
          let app = firebase.app()
          let features = [
            "auth",
            "database",
            "firestore",
            "functions",
            "messaging",
            "storage",
            "analytics",
            "remoteConfig",
            "performance",
          ].filter((feature) => typeof app[feature] === "function")
          loadEl.textContent = `Firebase SDK loaded with ${features.join(", ")}`
        } catch (e) {
          console.error(e)
          loadEl.textContent =
            "Error loading the Firebase SDK, check the console."
        }
      })
    </script>
    <script defer src="/__/firebase/init.js?useEmulator=true"></script>

    <nav><a href="https://furkantunali.com/" class="logo no-decoration" title="Furkan Tunalı" alt="Furkan Tunalı"><em>ft</em></a> <a title="Furkan Tunalı Resume PDF" target="_blank" href="https://europe-west1-furkantunali-1043.cloudfunctions.net/downloadAsPDF" download="Furkan Tunalı Résumé.pdf">Download as PDF</a></nav>

    <!-- Navigation Links -->
    <nav>
      <!-- LinkedIn Link -->
      <a
        class="link"
        href="//linkedin.com/in/furkan"
        target="_blank"
        title="Linkedin"
        alt="Linkedin"
      >
        <social-media-icons
          class="icon"
          icon="linkedin"
          color="#fff"
          size="30"
          href="//linkedin.com/in/furkan"
        ></social-media-icons>
      </a>
      <!-- GitHub Link -->
      <a
        class="link"
        href="//github.com/JacopKane"
        target="_blank"
        title="Github"
        alt="Github"
      >
        <social-media-icons
          class="icon"
          icon="github"
          color="#fff"
          size="30"
          href="//github.com/JacopKane"
        ></social-media-icons>
      </a>
      <!-- Twitter Link -->
      <a
        class="link"
        href="//twitter.com/JacopKane"
        target="_blank"
        title="Twitter"
        alt="Twitter"
      >
        <social-media-icons
          class="icon"
          icon="twitter"
          color="#fff"
          size="30"
          href="//twitter.com/JacopKane"
        ></social-media-icons>
      </a>
      <!-- Facebook Link -->
      <a
        class="link"
        href="//facebook.com/mFurkanTunali"
        target="_blank"
        title="Facebook"
        alt="Facebook"
      >
        <social-media-icons
          class="icon"
          icon="facebook"
          color="#fff"
          size="30"
          href="//facebook.com/mFurkanTunali"
        ></social-media-icons>
      </a>
      <!-- Pinterest Link -->
      <a
        class="link"
        href="//pinterest.com/JacopKane"
        target="_blank"
        title="Pinterest"
        alt="Pinterest"
      >
        <social-media-icons
          class="icon"
          icon="pinterest"
          color="#fff"
          size="30"
          href="//pinterest.com/JacopKane"
        ></social-media-icons>
      </a>
    </nav>

    <!-- About Section -->
    <section id="about">
      <p>
        I'm a
        <em
          >full-stack<a
            class="tap"
            href="http://www.sitepoint.com/full-stack-developer/"
            target="_blank"
            >*</a
          ></em
        >
        software developer with cloud focus and formerly a
        <em
          >multidisciplinary designer<a
            href="http://www.howdesign.com/web-design-resources-technology/renaissance-designers/"
            class="tap"
            target="_blank"
            >*</a
          ></em
        >.
      </p>
      <p>
        You can view my
        <a
          alt="Furkan Tunalı Résumé / CV"
          title="Furkan Tunalı Résumé / CV"
          href="/resume-dist.html"
          >résumé</a
        >
        or send an
        <a
          alt="Furkan Tunalı E-mail"
          title="Furkan Tunalı E-mail"
          href="mailto:mail@furkantunali.com"
          >e-mail</a
        >.
      </p>
    </section>

    <!-- Header -->
    <header>
      <hgroup id="hgroup">
        <h1>
          <a href="/" class="logo" title="Furkan Tunalı" alt="Furkan Tunalı"
            ><em>ft</em></a
          >
        </h1>
      </hgroup>
    </header>

    <footer>
      <p>
        <em
          ><script type="text/javascript">
            new Date().getFullYear() > document.write(new Date().getFullYear())
          </script>
          &copy; Furkan Tunalı</em
        >
      </p>
    </footer>

    <!-- build:js(app/) ../../vendor/webcomponentsjs/webcomponents.js -->
    <script
      async="true"
      type="text/javascript"
      src="vendor/webcomponentsjs/webcomponents.js"
    ></script>
    <!-- endbuild -->

    <script type="text/javascript">
      ;(function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r
        ;(i[r] =
          i[r] ||
          function () {
            ;(i[r].q = i[r].q || []).push(arguments)
          }),
          (i[r].l = 1 * new Date())
        ;(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0])
        a.async = 1
        a.src = g
        m.parentNode.insertBefore(a, m)
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga",
      )
      ga("create", "UA-60053491-1", "auto")
      ga("send", "pageview")
    </script>
  </body>
</html>
