<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Experienced software engineer architecting scalable, innovative
      solutions for multi-cloud environments, optimizing developer
      experience across web development, full-stack. Currently exploring AI
      to reimagine software functionality and create intelligent solutions.
      Background in leadership, founding, and design."
    />
    <title>Furkan Tunalı Résumé</title>
    
    <% if (!GLOBEL.resumeDoc) { %>
    <!-- Apple Touch Icons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="icons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="icons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="icons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="icons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="icons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="icons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="icons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="icons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-touch-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/android-chrome-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="icons/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="manifest" href="icons/manifest.json" />
    <!-- Safari Pinned Tab Icon -->
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5" />
    
    <!-- Microsoft Tile -->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="icons/mstile-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <% } %>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/resume.css" />
    <% if (GLOBEL.resume) { %>
    <link rel="stylesheet" href="styles/resume-web.css" />
    <% } %>
    <% if (GLOBEL.resumeDoc) { %>
    <link rel="stylesheet" href="styles/resume-doc.css" />
    <% } %>
  </head>
  <body>
    <% if (!GLOBEL.resumeDoc) { %>
    <nav id="download">
      <a
        href="https://furkantunali.com"
        class="logo no-decoration"
        title="Furkan Tunalı"
        alt="Furkan Tunalı"
        ><em>ft</em></a
      >
      <a
        title="Furkan Tunalı Resume PDF"
        target="_blank"
        href="//bit.ly/download-cv-as-pdf"
        download="Furkan Tunalı Résumé.pdf"
        >Download as PDF</a
      >
    </nav>
    <!-- <nav id="download">
      <a
        href="https://furkantunali.com"
        class="logo no-decoration"
        title="Furkan Tunalı"
        alt="Furkan Tunalı"
        ><em>ft</em></a
      >
      <a
        title="Furkan Tunalı Resume PDF"
        target="_blank"
        href="//127.0.0.1:5555/furkantunali-1043/europe-west1/downloadAsPDF"
        download="Furkan Tunalı Résumé.pdf"
        >Download as PDF</a
      >
    </nav> -->
    <% } %>

    <header>
      <hgroup>
        <h1>Furkan Tunalı Résumé</h1>
      </hgroup>
    </header>

    <div class="container">
      <!-- <hr /> -->

      <div class="intro">
        <div class="left-column">
          <section id="info">
            <h2>Info</h2>
            <ul class="info">
              <li>
                <strong>Name:</strong>
                M. Furkan TUNALI
              </li>
              <li>
                <strong>Current residency:</strong>
                Berlin
              </li>
            </ul>
          </section>
        </div>
        <div class="right-column">
          <section id="contact">
            <h2>Contact</h2>
            <ul class="contact">
              <li>
                <strong>E-mail:</strong>
                <a href="mailto:mail@furkantunali.com" target="_blank"
                  >mail@furkantunali.com</a
                >
              </li>
              <li>
                <strong
                  ><a href="https://linkedin.com/in/furkan" target="_blank"
                    >LinkedIn</a
                  ></strong
                >
              </li>
              <li>
                <strong
                  ><a href="https://github.com/JacopKane" target="_blank"
                    >GitHub</a
                  ></strong
                >
              </li>
              <li>
                <strong>
                <a alt="https://furkantunali.com" href="https://furkantunali.com" target="_blank">
                  Web
                </a>
                </strong>
              </li>
            </ul>
          </section>
        </div>
      </div>

      <hr>

      <section id="summary">
        <h2>Summary</h2>
        <p>
          Experienced software engineer architecting scalable, innovative
          solutions for multi-cloud environments, optimizing developer
          experience across web development, full-stack. Currently exploring AI
          to reimagine software functionality and create intelligent solutions.
          Background in leadership, founding, and design.
        </p>
      </section>

      <hr>

      <section id="skills">
        <h2>Skills</h2>
        <ul class="skills">
          <li>
            <strong>AI</strong>
          
            AI Agents (PydanticAI, AutoGen), Jupyter Notebooks, AI Workflows (OpenAI API, Tavily API)
          </li>
          <li>
            <strong>Cloud</strong>
            Amazon Web Services (EKS, ECS, CloudFormation, Lambda, Fargate, ECR,
            RDS, Cloud Map, EC2, Route53, IAM, EventBridge), Microsoft Azure (Azure Active
            Directory, Azure Functions, Cosmos DB), Google Cloud Service (Vertex
            AI, Cloud Vision API, Cloud Run, Cloud Storage), Firebase, Azure
            DevOps Services, Heroku
          </li>
          <li>
            <strong>Containerization and Orchestration</strong>
            Docker, Kubernetes, Docker Compose
          </li>
          <li>
            <strong>IaC</strong>
            Terraform
          </li>
          <li>
            <strong>CI & CD</strong>
            GitHub Actions, Travis, Jenkins, TeamCity
          </li>
          <li>
            <strong>Software Languages</strong>
            Node.js / JavaScript / ECMAScript, TypeScript, Python, Ruby, PHP,
            SQL, C, C++, Bash, ASP, .NET, PIC
          </li>
          <li>
            <strong>Frameworks & Libraries</strong>

            NestJS, React / Redux / Flux, NextJS, Vue.js,
            Express, Koa, LoopBack, Ruby on Rails, CakePHP, CodeIgniter, RxJS,
            Serverless
          </li>
          <li>
            <strong>Testing</strong>

            Jest, Mocha, Chai, Yadda, Webdriver.io, Selenium
          </li>
          <li>
            <strong>DB</strong>

            MongoDB, MySQL, SQLite, PostgreSQL, Cosmos DB
          </li>
          <li>
            <strong>Front-end</strong>

            HTML, CSS, LESS, SASS, SCSS, PostCSS
          </li>
          <li>
            <strong>Design</strong>

            Adobe Photoshop, Sketch, Adobe Illustrator, UI Design, 
            Wireframing / Mockup Design, Responsive Design, Web UX,
            Branding / Identity, Print Design
          </li>
          <li>
            <strong>Version Control</strong>

            Git, SVN
          </li>
          <li>
            <strong>Other</strong>
            NGINX, Apache HTTP Server, Webpack, Babel, Flow Type, Magento,
            WebStorm, Protractor, RequireJS, PM2, WordPress, IBM API Connect, SystemJS
          </li>
          <li>
            <strong>Languages</strong>

            Turkish - Native, English - Advanced, German - A1
          </li>
        </ul>
      </section>

      <hr>

      <section id="experiences">
        <h2>Experiences</h2>

        <!-- Single column experience list -->
        <ul style="list-style-type: none; padding: 0; margin: 0;">
                <!-- heyData Senior AI Solutions Engineer Experience -->
                <li class="experience">
                  <h3>
                    <em>Senior AI Solutions Engineer</em>
                    at
                    <a target="_blank" href="https://heydata.eu/"
                      >heyData GmbH, Berlin</a
                    >
                  </h3>
                  <h4>10/2024 - 08/2024</h4>
                  <ul>
                    <li>
                      <p>
                        Integrated OpenAI and Tavily APIs to build an AI-powered system that analyzed customer input to identify GDPR-relevant vendors, automatically retrieving structured data such as hosting locations, DPO emails, and privacy policy links.
                      </p>
                    </li>
                    <li>
                      <p>
                        Researching about how to utilise AI Agent frameworks (PydanticAI, Autogen) to solve current challanges in the company.
                      </p>
                    </li>
                  </ul>
                </li>
                
                <!-- heyData Senior Infrastructure Engineer Experience -->
                <li class="experience">
                  <h3>
                    <em>Senior Infrastructure Engineer</em>
                    at
                    <a target="_blank" href="https://heydata.eu/"
                      >heyData GmbH, Berlin</a
                    >
                  </h3>
                  <h4>10/2023 - 10/2024</h4>
                  <ul>
                    <li>
                      <p>
                        Created Kubernetes and Terraform from scratch for scalable infrastructure setup and reliable deployments.
                      </p>
                    </li>
                    <li>
                      <p>
                        Drafted technical implementation details to guide project development and ensure consistent coding standards across teams.
                      </p>
                    </li>
                    <li>
                      <p>
                        Led successful migration from ECS to <em>Kubernetes</em> (EKS), learning the technology from scratch and executing a smooth switchover with zero downtime.
                      </p>
                    </li>
                    <li>
                      <p>
                        Worked with AWS suite (Fargate, ECS, CloudFormation, ECR, RDS, Cloud Map, EC2, Route53, Lambda) to improve service deployment.
                      </p>
                    </li>
                    <li>
                      <p>
                        Supported infrastructure initiatives including Route53 configuration, domain management, and DMARC reporting setup for email delivery.
                      </p>
                    </li>
                    <li>
                      <p>
                        Addressed critical technical incidents and provided rapid resolution to maintain continuous service availability for customers.
                      </p>
                    </li>
                  </ul>
                </li>
                
                <!-- heyData Senior Developer Experience Engineer Experience -->
                <li class="experience">
                  <h3>
                    <em>Senior Developer Experience Engineer</em>
                    at
                    <a target="_blank" href="https://heydata.eu/"
                      >heyData GmbH, Berlin</a
                    >
                  </h3>
                  <h4>01/2022 - 10/2023</h4>
                  <ul>
                    <li>
                      <p>
                        Developed software solutions using JavaScript and TypeScript, with a focus on modern frameworks such as NestJS, NextJS, Rails, and VUE.
                      </p>
                    </li>
                    <li>
                      <p>
                        Migrated infrastructure from Heroku to AWS ECS.
                      </p>
                    </li>
                    <li>
                      <p>
                        Restructured legacy Ruby on Rails systems into a monorepo, Dockerized applications, and established reliable local development environments enabling efficient developer onboarding.
                      </p>
                    </li>
                    <li>
                      <p>
                        Built CI/CD pipelines using <em>GitHub Actions</em>, integrated AWS ECR, and introduced <em>Terraform</em> to streamline environment provisioning across Testing and Production.
                      </p>
                    </li>
                    <li>
                      <p>
                        Implemented an event-driven scheduling system using AWS EventBridge to automate client reminders without building a custom solution.
                      </p>
                    </li>
                    <li>
                      <p>
                        Developed DevOps and DX tools, including Makefile and Bash scripts, to automate routine tasks and improve development workflow efficiency.
                      </p>
                    </li>
                    <li>
                      <p>
                        Maintained Docker Compose setups for service orchestration and environment consistency.
                      </p>
                    </li>
                    <li>
                      <p>
                        Mentored team members, offering structured and insightful feedback while serving as a trusted technical resource.
                      </p>
                    </li>
                    <li>
                      <p>
                        Contributed to the hiring process by evaluating candidates with deep expertise in design patterns, best practices, and JavaScript.
                      </p>
                    </li>
                  </ul>
                </li>
                
                <!-- Senior Software Architect Experience -->
                <li class="experience">
                  <h3>
                    <em>Senior Software Architect</em> at
                    <a target="_blank" href="https://www.sgef-digital-factory.com/">
                      Société Générale Digital Factory, Berlin</a
                    >
                  </h3>
                  <h4>09/2019 - 05/2020</h4>
                  <ul>
                    <li><p>Building the technical vision</p></li>
                    <li><p>Driving the adoption of the technical concept</p></li>
                    <li>
                      <p>
                        Containerization and deployed complex AI models to Azure CUDA
                        for speed
                      </p>
                    </li>
                    <li>
                      <p>
                        Contributed to the integration of AI projects by editing and
                        adapting Jupyter Notebooks.
                      </p>
                    </li>
                    <li>
                      <p>
                        Optimized containerization strategies for AI/ML workloads and
                        deployed them to Azure CUDA for accelerated performance.
                      </p>
                    </li>
                    <li>
                      <p>
                        Enhancing DX (developer experience) through various
                        initiatives including developer friendly monorepo management
                        and deployment.
                      </p>
                    </li>
                    <li>
                      <p>
                        Ensuring compatibility of in-house services with parent
                        company related services through effective communication and
                        research
                      </p>
                    </li>
                    <li>
                      <p>
                        Ensuring the delivery of stable and secure products on time
                      </p>
                    </li>
                    <li>
                      <p>
                        Researching, building, and maintaining cloud integrations and
                        engineered artefacts
                      </p>
                    </li>
                    <li>
                      <p>
                        Contributing to the building of initial full-stack
                        boilerplates for MVP
                      </p>
                    </li>
                    <li>
                      <p>Migrating existing data structures into upcoming services</p>
                    </li>
                    <li>
                      <p>
                        Integrating fully automated continuous delivery, deployment,
                        and development
                      </p>
                    </li>
                    <li><p>Implementing comprehensive testing strategies</p></li>
                    <li>
                      <p>
                        Participating in the planning and hiring of a new development
                        team from scratch
                      </p>
                    </li>
                    <li><p>Pair programming to enhance team collaboration</p></li>
                    <li><p>Mentoring and onboarding new team members</p></li>
                    <li>
                      <p>
                        Conducting code reviews and implementing linting strategies
                        for improved code quality and consistency
                      </p>
                    </li>
                    <li>
                      <p>Automating semantic code versioning and conventions</p>
                    </li>
                    <li><p>Researching and applying data storage solutions</p></li>
                  </ul>
                </li>
                
                <!-- Senior Back-end Architect Experience -->
                <li class="experience">
                  <h3>
                    <em>Senior Back-end Architect</em> at
                    <a target="_blank" href="https://gamebook.io">
                      GameBook AG (Formerly Experimental Game GmBH), Berlin</a
                    >
                  </h3>
                  <h4>12/2018 - 04/2019</h4>
                  <ul>
                    <li>
                      <p>Implementing and refactoring back-end services.</p>
                    </li>
                    <li>
                      <p>Developing features as full-stack.</p>
                    </li>
                    <li>
                      <p>Profiling performance bottlenecks.</p>
                    </li>
                    <li>
                      <p>Working with containerization and development cycle.</p>
                    </li>
                    <li>
                      <p>Improvement of dev-tools.</p>
                    </li>
                    <li>
                      <p>Migrations of existing data structure.</p>
                    </li>
                  </ul>
                </li>

                <!-- Lead JavaScript/Front-End Developer Experience -->
                <li class="experience">
                  <h3>
                    <em>Lead JavaScript/Front-End Developer</em> at
                    <a target="_blank" href="https://chantelle.com"
                      >Groupe Chantelle, Digital Lab, Berlin</a
                    >
                  </h3>
                  <h4>08/2017 - 12/2018</h4>
                  <ul>
                    <li>
                      <p>
                        Managing and being responsible for the actions of Front-end
                        team.
                      </p>
                    </li>
                    <li>
                      <p>HR, interview, boarding and hiring process</p>
                    </li>
                    <li>
                      <p>
                        Modernizing front-end architecture without losing existing
                        functionalities and values.
                      </p>
                    </li>
                    <li>
                      <p>Making sure codebase is improved and streamlined.</p>
                    </li>
                    <li>
                      <p>
                        Implementing code quality-assuring tools and automated of
                        tests.
                      </p>
                    </li>
                    <li>
                      <p>
                        Implement dev-ops tools and a new eco-system to act develop
                        faster.
                      </p>
                    </li>
                    <li>
                      <p>
                        Helping with the conversion from monolith systems into
                        separated micro-services when possible.
                      </p>
                    </li>
                    <li>
                      <p>Following Agile methods.</p>
                    </li>
                    <li>
                      <p>Reviewing codes.</p>
                    </li>
                    <li>
                      <p>Migrating from Front-end to being a Full-stack team.</p>
                    </li>
                    <li>
                      <p>
                        Mentoring, inspiring, guiding or helping front-end team when
                        possible.
                      </p>
                    </li>
                    <li>
                      <p>
                        Helping to achieve being data-driven and implementing A/B
                        testing solutions.
                      </p>
                    </li>
                    <li>
                      <p>
                        Making sure the projects will be fitted into sprints and
                        acting if they are not going as planned.
                      </p>
                    </li>
                    <li>
                      <p>
                        Tracking the development of UI library for connecting the UX
                        team and Front-end team components as a bridge.
                      </p>
                    </li>
                  </ul>
                </li>
              <!-- Continuing the experience list -->
                <!-- Universal JavaScript Engineer Experience -->
                <li class="experience">
                  <h3>
                    <em>Universal JavaScript Engineer</em> at
                    <a target="_blank" href="http://pixsy.com">Pixsy GmbH, Berlin</a>
                  </h3>
                  <h4>01/2017 - 08/2017</h4>
                  <ul>
                    <li>
                      <p>
                        Delivering new features on both ends with using JavaScript.
                      </p>
                    </li>
                    <li>
                      <p>
                        Delivering code with the unit, integration and E2E covered
                        tests.
                      </p>
                    </li>
                    <li>
                      <p>Maintaining or migrating existing features.</p>
                    </li>
                    <li>
                      <p>Developing and maintaining micro-services.</p>
                    </li>
                    <li>
                      <p>Improving our architecture and stack when it's possible.</p>
                    </li>
                    <li>
                      <p>
                        Integrating and maintaining data on Mongo, Stripe and
                        SalesForce.
                      </p>
                    </li>
                    <li>
                      <p>
                        Keeping an eye on app health with Heroku and Sentry reports.
                      </p>
                    </li>
                    <li>
                      <p>Following KANBAN with some Agile methods.</p>
                    </li>
                    <li>
                      <p>Reviewing codes from our team's pull requests.</p>
                    </li>
                    <li>
                      <p>Following our code conventions and guidelines.</p>
                    </li>
                  </ul>
                </li>
                
                <!-- Founder, full-stack web developer and designer Experience -->
                <li class="experience">
                  <h3>
                    <em>Founder, full-stack web developer and designer</em> at
                    <a target="_blank" href="http://nod.st">NOD studios, Istanbul</a>
                  </h3>
                  <h4>11/2012 - 07/2015</h4>
                  <ul>
                    <li>
                      <p>
                        Web development and design for
                        <a target="_blank" href="http://gymandtonic.com.tr"
                          >Gym &amp; Tonic</a
                        >
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Design,
                          JavaScript, PHP, HTML, LESS, CSS, CanJS, Mustache.</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Web development for
                        <a target="_blank" href="http://silentblessed.com.tr"
                          >Silent + Blessed</a
                        >
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Design,
                          JavaScript, HTML, LESS, CSS, CanJS, Mustache.</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Web development and design for
                        <a target="_blank" href="http://mirjamschmitt.de"
                          >Mirjam Schmitt</a
                        >
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Design,
                          JavaScript, HTML, LESS, CSS, CanJS, Mustache, WordPress,
                          WordPress JSON API.</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Web development and design and UX consultancy for
                        <a target="_blank" href="http://lesbenjamins.com"
                          >Les Benjamins</a
                        >
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Wireframing,
                          Mockup, Design, JavaScript, HTML, LESS, CSS, CanJS,
                          Mustache, CakePHP.</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Web development, design, mobile app design, UX design and
                        refactoring legacy code for
                        <a
                          target="_blank"
                          href="https://www.crunchbase.com/organization/etiqadd"
                          >etiqadd</a
                        >
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Wireframing,
                          Design, JavaScript, AMD, PHP, CodeIgniter</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Social web app design and gamification for
                        <a target="_blank" href="https://www.gripati.com">Gripati</a>
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Wireframing,
                          Design, JavaScript, AMD, PHP, CodeIgniter</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Front-end mobile web development for
                        <a target="_blank" href="http://wap.ligtv.com.tr/">LigTV</a>
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Mobile
                          optimisation, HTML, CSS, JavaScript</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Internal website design and full-stack web development for
                        <a target="_blank" href="http://www.ulker.com.tr/">Ülker</a>
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> PHP, CakePHP,
                          HTML, CSS, JavaScript</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Server-side web RSS aggregator API development for a mobile
                        app of
                        <a target="_blank" href="https://www.facebook.com/mbapps/"
                          >MB Apps</a
                        >
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> CakePHP,
                          PHP</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Full-stack web development for
                        <a target="_blank" href="http://www.imdb.com/title/tt2869768/"
                          >Umut Üzümleri</a
                        >
                        movie
                      </p>
                      <p>
                        <small
                          ><strong>Some of the project skills:</strong> Design, HTML,
                          CSS, JavaScript</small
                        >
                      </p>
                    </li>

                    <li>
                      <p>
                        Open source projects and libraries at
                        <a target="_blank" href="http://github.com/NOD-studios"
                          >Github</a
                        >
                      </p>
                    </li>
                  </ul>
                </li>

                <!-- Full-stack web developer FOX Experience -->
                <li class="experience">
                  <h3>
                    <em>Full-stack web developer</em> at
                    <a target="_blank" href="http://ficturkey.com/"
                      >FOX International Channels, Istanbul</a
                    >
                  </h3>
                  <h4>01/2012 - 12/2012</h4>
                  <p>
                    Development of some social app and microsite web development for
                    some clients including:
                  </p>
                  <a href="http://www.samsung.com/tr/" target="_blank"
                    >Samsung Turkey</a
                  >,
                  <a href="http://www.nationalgeographic.com.tr/" target="_blank"
                    >National Geographic Turkey</a
                  >,
                  <a href="http://www.nationalgeographic.com.tr/" target="_blank"
                    >Nokia Turkey</a
                  >,
                  <a href="http://www.hbo.com/true-blood" target="_blank"
                    >True Blood TV show</a
                  >,
                  <a href="http://www.fox.com/glee" target="_blank">Glee TV Show</a>,
                  <a href="http://www.imdb.com/title/tt1641349/" target="_blank"
                    >TerraNova TV show</a
                  >
                </li>
                
                <!-- Front-end developer and designer at projectz Experience -->
                <li class="experience">
                  <h3>
                    <em>Front-end developer and designer</em> at
                    <a target="_blank" href="http://projectz.com/"
                      >projectz, Istanbul</a
                    >
                  </h3>
                  <h4>06/2011 - 12/2011</h4>
                  <p>
                    Front-end coding, refactoring and web design for startup project
                    <a href="http://yardimlazim.com" target="_blank"
                      >yardimlazim.com</a
                    >
                  </p>
                </li>
                
                <!-- Full-stack developer at Manajans Experience -->
                <li class="experience">
                  <h3>
                    <em>Full-stack developer</em> at
                    <a target="_blank" href="http://manajans-jwt.com/"
                      >Manajans / JWT, Istanbul</a
                    >
                  </h3>
                  <h4>05/2009 - 06/2011</h4>
                  <p>
                    Development of websites, CMS development, online communities,
                    social apps and microsites for some clients including:
                  </p>
                  <a href="http://www.anadoluefes.com/" target="_blank">Miller</a>,
                  <a href="http://gnctrkcll.turkcell.com.tr/" target="_blank"
                    >GncTurkcell / Turkcell</a
                  >, <a href="http://www.eston.com/" target="_blank">Eston</a>,
                  <a href="http://www.first.com.tr/" target="_blank">First</a>,
                  <a href="http://www.anadoluefes.com/" target="_blank">Bomonti</a>,
                  <a href="http://www.anadoluefes.com/" target="_blank">Efes</a>,
                  <a href="http://www.teramenkul.com/" target="_blank"
                    >TeraBrokers (Formerly TeraMenkul)</a
                  >
                </li>
                
                <!-- Front-end developer at Tribal DDB Experience -->
                <li class="experience">
                  <h3>
                    <em>Front-end developer</em> at
                    <a target="_blank" href="http://projectz.com/"
                      >Tribal DDB Worldwide Istanbul<em>
                        (formerly Manadigital)</em
                      ></a
                    >
                  </h3>
                  <h4>03/2009 - 05/2009</h4>
                  <p>
                    Front-end development for some clients including:
                  </p>
                  <a href="http://www.avea.com.tr/" target="_blank">patlican / avea</a
                  >,
                  <a href="http://www.ttnet.com.tr/" target="_blank">TTNET</a>
                </li>
                
                <!-- Full-stack developer at Ping Digital Agency Experience -->
                <li class="experience">
                  <h3>
                    <em>Full-stack developer</em> at
                    <a target="_blank" href="http://ping.com.tr"
                      >Ping Digital Agency Istanbul<em> (formerly OnKaplan)</em></a
                    >
                  </h3>
                  <h4>05/2008 - 03/2009</h4>
                  <a href="http://www.garanti.com.tr" target="_blank">Garanti</a>,
                  <a href="http://www.ttnet.com.tr" target="_blank">TTNET</a>
                </li>
                
                <!-- Designer, front-end and Flash developer Experience -->
                <li class="experience">
                  <h3>
                    <em>Designer, front-end and Flash developer</em> at
                    <a target="_blank" href="http://ping.com.tr"
                      >Koçak Dizayn, Istanbul</a
                    >
                  </h3>
                  <h4>05/2008 - 03/2009</h4>
                  <p>
                    Design, concept art creation, front-end development and
                    illustration for an online art community startup.
                  </p>
                </li>
                
                <!-- Designer and front-end developer Experience -->
                <li class="experience">
                  <h3>
                    <em>Designer and front-end developer</em> at
                    <a target="_blank" href="http://www.medyanova.com/"
                      >MedyaNova, Istanbul</a
                    >
                  </h3>
                  <h4>05/2005 - 02/2007</h4>
                  <p>
                    Design and front-end web development for various web projects
                    mostly regarding travelling, hotel and hotel franchise clients
                    like
                    <a href="http://www.bestwestern.com.tr/" target="_blank"
                      >Best Western Hotels</a
                    >.
                  </p>
                </li>
                
                <!-- Internship Experience -->
                <li class="experience">
                  <h3>
                    <em>Internship</em> at
                    <a target="_blank" href="http://www.medyanova.com/"
                      >MedyaNova, Istanbul</a
                    >
                  </h3>
                  <h4>04/2005 - 05/2005</h4>
                </li>
              </ul>
      </section>

      <!-- Add HTML horizontal rule for clear separation -->
      <hr>

      <section id="education">
        <h2>Education</h2>

        <ul class="educations">
          <li class="education">
            <h3>
              <em>Computer Programming and Technology</em> at
              <a target="_blank" href="http://www.khas.edu.tr/"
                >Kadir Has University</a
              >
            </h3>
          </li>
        </ul>
      </section>

      <hr>

      <section id="interests">
        <h2>Interests</h2>
        Swimming &bull; Vibe-coding &bull; Photography &bull; AI generated design and art &bull;
        Video games &bull;
        <a href="http://soundcloud.com/JacopKane" target="_blank">DJing</a> and
        formerly founding the music label
        <a target="_blank" href="http://soundcloud.com/AmbientData"
          >AmbientData</a
        >
        &bull; Contributing back to
        <a href="http://github.com/JacopKane/" target="_blank">Open source</a>
        projects &bull; Experimenting with product ideas &bull; Travelling
        &bull; Ping-pong &bull; Sci-Fi &bull; 80s Exploring print, product,
        interior and typography design &bull; Staycations.
      </section>

      <% if (!GLOBEL.resume) { %>
    </div>
    <% } %>

    <% if (!GLOBEL.resumeDoc) { %>
    <footer>
      <em>
        <script>
          document.write(new Date().getFullYear());
        </script>
        © Furkan Tunalı</em
      >
    </footer>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-60053491-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-60053491-1");
    </script>
    <% } %>
  </body>
</html>
